@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
a {
    /*color: #1CD3FF;*/
    color:#145BCD;
    text-decoration: none;
  }
a:hover {
    color: #F2A51B;
    text-decoration: none;
  }
div {
    font-family: 'Cormorant Garamond', serif;
}
.text1 {
    border: 1px /*solid black*/;
    width: 500px;
    height: 30px;
    position:relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.center {
    text-align:center;    
}
.double_spaced {
    line-height: 2.5;
}
h1 {
    text-align:center;
    font-family: 'Cormorant Garamond', serif;
}
h2 {
    text-align:center;
}
body {
    /*background-color:#F88787;*/
}
