a {
    color: #145BCD;
    text-decoration: none;
  }
a:hover {
    color: #F2A51B;
    text-decoration: none;
  }
.center {
    text-align:center;
}
.double_spaced {
    line-height: 2.5;
}
h1 {
    text-align:center;
}
h2 {
    text-align:center;
}
